ul{
    list-style-type: none;
}
.item{
    display: flex;
    flex-direction: row;
    gap:5px;
}
.item>img{
    height: 24px;
    width: 24px;
}
.item>img[aria-expanded="false"]{
    transform: scaleY(-1);
    
}
.item>img[aria-expanded="true"]{
    transform: rotate(0.25turn);
}
ul ul {
    margin: 0 0 0 .5em; /* вести линию вниз где-то с полбуквы родителя */
}
ul > li:not(:only-child),
ul li li {
    position: relative;
    padding: .2em 0 0 1.2em; /* отступ до текста; для раскрывающегося списка в ряде случаев (в Хроме есть баг) padding-top (.2em) лучше указывать в px */
}
ul li:not(:last-child) {
    border-left: 1px solid #ccc; /* толщина, цвет и стиль (вместо сплошной пунктирная или точечная) вертикальной линии */
}
ul li li:before,
ul > li:not(:only-child):before { /* горизонтальная линия */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em; /* не более отступа до текста (1.2em) */
    height: 1em; /* начинается приблизительно с половины высоты буквы (.5em + .2em) */
    border-bottom: 1px solid #ccc;
}
ul li:last-child:before { /* вертикальная линия последнего пункта в каждом списке */
    width: calc(1.1em - 1px); /* для перфекционистов */
    border-left: 1px solid #ccc;
}
h1,h2,h3,h4,h5{
    margin:0;
}
.variable{
    margin: 0 30px;
}