@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Components/ElemComponent.razor.rz.scp.css */
.elem-container>h4[b-c7h5e1zntz]{
    margin: 0;
}
.elem-container[b-c7h5e1zntz]{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
}
.elem-reverse[b-c7h5e1zntz]{
    flex-direction: row-reverse !important;
}
.read-only[b-c7h5e1zntz]{
    pointer-events: none;
}
fieldset[b-c7h5e1zntz]{
    border:1px solid var(--hydra-secondary-10);
    box-shadow: 0 0 3px var(--hydra-secondary-65);
    padding: 20px;
    border-radius: 8px;
}
fieldset>legend[b-c7h5e1zntz]{
    font-weight: 600;
    font-size: 16px;
    color: #2D334D;
    margin-left: -15px;
    margin-top:-15px;
    display: flex;
    align-items: center;
    gap:10px;
}
fieldset>legend>img[b-c7h5e1zntz]{
    content:url("icons/add_item.svg");
    cursor: pointer;
}
input[type=checkbox][b-c7h5e1zntz]{
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    margin: 0;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #B7BDD0;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=checkbox][b-c7h5e1zntz]::after{
    content: "";

    display: inline-block;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 12px;
    height: 12px;
    background-color: #B7BDD0;
    border-radius: 50%;

    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
input[type=checkbox]:checked[b-c7h5e1zntz]::after {
    transform: translateX(100%);
    background-color: #fff;
}
input[type=checkbox]:checked[b-c7h5e1zntz] {
    background-color: #3961FF;
    border:1px solid #3961FF;
}
input[type=checkbox][disabled][b-c7h5e1zntz]{
    background: #EEF1F9;
    border:1px solid #EEF1F9;
}
input[type="text"][b-c7h5e1zntz],input[type="number"][b-c7h5e1zntz],input[type="datetime-local"][b-c7h5e1zntz],input[type="date"][b-c7h5e1zntz],input[type="time"][b-c7h5e1zntz]{
    background: var(--hydra-background-white);
    min-width: 240px;
    height: 32px;
    border: 1px solid var(--hydra-secondary-10);
    padding: 5px 10px;
    border-radius: 8px;
}
input[type="text"]:hover[b-c7h5e1zntz],input[type="number"]:hover[b-c7h5e1zntz],input[type="datetime-local"]:hover[b-c7h5e1zntz],input[type="date"]:hover[b-c7h5e1zntz],input[type="time"]:hover[b-c7h5e1zntz]{
    border:1px solid var(--hydra-secondary-65);
}
input[type="text"]:focus[b-c7h5e1zntz],input[type="number"]:focus[b-c7h5e1zntz],input[type="datetime-local"]:focus[b-c7h5e1zntz],input[type="date"]:focus[b-c7h5e1zntz],input[type="time"]:focus[b-c7h5e1zntz]{
    border: 1px solid var(--hydra-blue-pressed)
}
input[type="text"]:disabled[b-c7h5e1zntz],input[type="number"]:disabled[b-c7h5e1zntz],input[type="datetime-local"]:disabled[b-c7h5e1zntz],input[type="date"]:disabled[b-c7h5e1zntz],input[type="time"]:disabled[b-c7h5e1zntz]{
    border: 1px solid var(--hydra-secondary-10);
    background: var(--hydra-secondary-3);
}
input[type="text"][validation-error][b-c7h5e1zntz],input[type="number"][validation-error][b-c7h5e1zntz],input[type="datetime-local"][validation-error][b-c7h5e1zntz],input[type="date"][validation-error][b-c7h5e1zntz],input[type="time"][validation-error][b-c7h5e1zntz]{
    border:1px solid var(--hydra-error);
}
textarea[b-c7h5e1zntz]{
    background: var(--hydra-background-white);
    min-width: 240px;
    min-height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
}
.validation-message[b-c7h5e1zntz]{
    color:var(--hydra-error);
    font-size: 12px;
    display: block;
    position: absolute;
}
.hide-message[b-c7h5e1zntz]{
    display: none;
}
.list-item-container[b-c7h5e1zntz]{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}
.list-item-container>img[b-c7h5e1zntz],.delete-image[b-c7h5e1zntz]{
    content: url("icons/remove_item.svg");
    cursor: pointer;
}
.range-titles-container[b-c7h5e1zntz]{
    display: flex;
    flex-direction: row;
    gap: 210px;
    padding: 0 0 0 10px;
    margin-bottom: -10px;
}
input[b-c7h5e1zntz],textarea:invalid[b-c7h5e1zntz]{
    border:1px solid var(--hydra-error);
}
@media(max-width: 1200px){
    .elem-container[b-c7h5e1zntz]{
        flex-direction: column;
        align-items: flex-start;
    }
}
/* /Components/Loader.razor.rz.scp.css */
.loader[b-z9n7l8w8iu]{
    border: 16px solid var(--hydra-secondary-20);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    top: 50%;
    -webkit-animation: rotation 2s linear infinite;
    animation: rotation-b-z9n7l8w8iu 2s linear infinite;
}
.title[b-z9n7l8w8iu]{
    position: relative;
    top:50%;
}
.title[b-z9n7l8w8iu]:after{
    content: ' .';
    animation: dots-b-z9n7l8w8iu 1.5s steps(5, end) infinite;
}
.loader-container[b-z9n7l8w8iu]{
    position: absolute;
    left: calc(50% - 50vw);
    top: calc(50% - 50vh);
    z-index: 1500;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(1px);
}
/* Safari */
@-webkit-keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes rotation-b-z9n7l8w8iu {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dots-b-z9n7l8w8iu {
    0%, 20% {
        color: var(--hydra-text);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: var(--hydra-text);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
                .25em 0 0 var(--hydra-text),
                .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
                .25em 0 0 var(--hydra-text),
                .5em 0 0 var(--hydra-text);}}

@-webkit-keyframes dots {
    0%, 20% {
        color: var(--hydra-text);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: var(--hydra-text);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
                .25em 0 0 var(--hydra-text),
                .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
                .25em 0 0 var(--hydra-text),
                .5em 0 0 var(--hydra-text);}}
/* /Components/Modal.razor.rz.scp.css */
dialog[b-es2rlj4vu7] {
    border: none;
    border-radius: 4px;
    padding: 0px;
}

dialog[b-es2rlj4vu7]::backdrop {
    background: rgba(45, 51, 77, 0.6);
}

.modal-footer[b-es2rlj4vu7] {
    background: var(--hydra-secondary-65);
    border-top: 0;
    gap: 20px;
}

.modal-body > input[b-es2rlj4vu7], .modal-body > textarea[b-es2rlj4vu7] {
    padding: 5px 10px;
}


.modal-header[b-es2rlj4vu7] {
    padding: 20px 30px;
    border-bottom: 1px solid #E3E6F0
}

.modal-body[b-es2rlj4vu7] {
    padding: 30px;
    overflow-y: auto;
}

.modal-footer[b-es2rlj4vu7] {
    padding: 20px 30px;
}


/* /Components/SearchCard.razor.rz.scp.css */
.search-card-container[b-bk1rzf4u80]{
    background: white;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0 0 3px var(--hydra-secondary-65);
}
.search-card-container:hover[b-bk1rzf4u80]{
    background: var(--hydra-secondary-30);
}
.search-row[b-bk1rzf4u80]{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:3px;
}
h3[b-bk1rzf4u80]{
    margin:0;
}
/* /Pages/Index.razor.rz.scp.css */
#form-list[b-7asq2jqe5p]{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 10px 20px;
}
hr[b-7asq2jqe5p]{
    width: 100%;
}
.save-button[b-7asq2jqe5p]{
    width: 100px;
    height: 38px;
    border-radius: 4px;
    position: fixed;
    background: var(--hydra-blue-default);
    right: 30px;
    top:100px;
    color:var(--hydra-background-white);
    border: 0;
}
.save-button:hover[b-7asq2jqe5p]{
    background:var(--hydra-blue-hover);
}
.save-button:active[b-7asq2jqe5p]{
    background:var(--hydra-blue-pressed);
}
.save-button:disabled[b-7asq2jqe5p]{
    background: var(--hydra-secondary-30) !important;
}
input[type="search"][b-7asq2jqe5p]{
    width: 100%;
    height: 32px;
    border-radius: 4px;
}
.search-container[b-7asq2jqe5p]{
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.heh[b-7asq2jqe5p]{
    height: 1000px;
}
.page-container[b-7asq2jqe5p]{
    height: 100%;
    padding: 30px;
}
.cards-container[b-7asq2jqe5p]{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index:1300;
    border: 1px solid var(--hydra-secondary-10);
    display: flex;
    flex-direction: column;
    border-top: 0;
    border-radius: 0 0 8px 8px;
}
.groups[b-7asq2jqe5p]{
    gap:30px;
    display: flex;
    flex-direction: column;
}
.element-container[b-7asq2jqe5p]{
    gap:30px;
    display: flex;
    flex-direction: column;
}
.form-container[b-7asq2jqe5p]{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.groups>div[b-7asq2jqe5p]{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.form-elements-container[b-7asq2jqe5p]{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.path-container[b-7asq2jqe5p]{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.path[b-7asq2jqe5p]{
    color:var(--hydra-secondary-65);
    text-decoration: underline;
    cursor: pointer;
    font-size:14px;
}
.path[last-child][b-7asq2jqe5p]{
    color:var(--hydra-text);
    text-decoration: none;
    font-weight: 600;
}
.right-arrow[b-7asq2jqe5p]{
    content:url("icons/arrow_right.svg");
}
.forms-link-container[b-7asq2jqe5p]{
    padding: 10px 0;
}
.hide[b-7asq2jqe5p]{
    display: none;
}
.elements-container[b-7asq2jqe5p]{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.modal-footer button[type=submit][b-7asq2jqe5p]{
    background:var(--hydra-blue-default);
    width: 108px;
    font-size: 16px;
    height: 38px;
    font-weight: 500;
    color:var(--hydra-background-white);
    border: 0;
    border-radius: 4px;
}
.modal-footer button[type=submit]:hover[b-7asq2jqe5p]{
    background:var(--hydra-blue-hover);
}
.modal-footer button[type=submit]:active[b-7asq2jqe5p]{
    background: var(--hydra-blue-pressed);
}
.modal-footer button[type=reset][b-7asq2jqe5p]{
    background:var(--hydra-secondary-10);
    width: 108px;
    font-size: 16px;
    height: 38px;
    font-weight: 500;
    color:var(--hydra-text);
    border: 0;
    border-radius: 4px;
}
.modal-footer button[type=reset]:hover[b-7asq2jqe5p]{
    background: var(--hydra-secondary-20);
}
.modal-footer button[type=reset]:active[b-7asq2jqe5p]{
    background: var(--hydra-secondary-30);
}
#graph[b-7asq2jqe5p]{
    width: 95vw;
}
div[id="graph"] svg[b-7asq2jqe5p]{
    max-width: 100%;
}
.modal-header>img[b-7asq2jqe5p]{
    content: url("icons/X.svg");
    height: 24px;
    width: 24px;
    cursor:pointer;
}
.hidden[b-7asq2jqe5p]{
    display: none !important;
}
.title[b-7asq2jqe5p]{
    font-size: 24px;
}

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-y4o6q4osx7] {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-x: hidden;
    background: var(--hydra-secondary-3);
}
article[b-y4o6q4osx7]{
    background: var(--hydra-background-white);
}
.menu-container[b-y4o6q4osx7]{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 30px;
    border-right: 1px solid var(--hydra-secondary-10);
    position: relative;
    min-width: 460px;
    max-width: 70%;
}
input[type="search"][b-y4o6q4osx7]{
    min-width: 300px;
    width: 100%;
    height: 32px;
    border-radius: 8px;
}
.slider[b-y4o6q4osx7]{
    position: absolute;
    content: url(icons/Slider.svg);
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
    cursor: col-resize;
    margin-right: -5px;
}
.slider-container[b-y4o6q4osx7]{
    width: 50px;
    height: 42px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
}
.slider-container:active[b-y4o6q4osx7]{
    width: 100%;
    right: -50%;
    height: 100%;
}
.resize-horizontal[b-y4o6q4osx7]{
    resize: horizontal;
}
.search-list>li>div[b-y4o6q4osx7]{
    width: 100%;
    height: 27px;
    border-radius: 8px;
    border: 1px solid var(--hydra-secondary-10);
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}
.search-list>li>h4[b-y4o6q4osx7]{
    font-size: 12px;
    color: var(--hydra-blue-default);
    text-decoration: underline;
}
.search-list[b-y4o6q4osx7]{
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 0 0 0 20px;
}
.search-container[b-y4o6q4osx7]{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.input-search-container[b-y4o6q4osx7]{
    width: 100%;
}
.expand-collapse-container[b-y4o6q4osx7]{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.expand-collapse-container>img:first-child[b-y4o6q4osx7]{
    content: url("icons/Expand.svg");
    cursor: pointer;
}
.expand-collapse-container>img:last-child[b-y4o6q4osx7]{
    content: url("icons/Collapse.svg");
    cursor: pointer;
}
main[b-y4o6q4osx7] {
    flex: 1;
}

.sidebar[b-y4o6q4osx7] {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-left: -20px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.top-row[b-y4o6q4osx7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-y4o6q4osx7]  a, .top-row[b-y4o6q4osx7]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-y4o6q4osx7]  a:hover, .top-row[b-y4o6q4osx7]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-y4o6q4osx7]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-y4o6q4osx7] {
        display: none;
    }

    .top-row.auth[b-y4o6q4osx7] {
        justify-content: space-between;
    }

    .top-row[b-y4o6q4osx7]  a, .top-row[b-y4o6q4osx7]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-y4o6q4osx7] {
        flex-direction: row;
    }

    .sidebar[b-y4o6q4osx7] {
        height: 100%;
        position: sticky;
        top: 0;
    }

    .top-row[b-y4o6q4osx7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-y4o6q4osx7]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-v9570j63zk] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-v9570j63zk] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-v9570j63zk] {
    font-size: 1.1rem;
}

.oi[b-v9570j63zk] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-v9570j63zk] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-v9570j63zk] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-v9570j63zk] {
        padding-bottom: 1rem;
    }

    .nav-item[b-v9570j63zk]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-v9570j63zk]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-v9570j63zk]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-v9570j63zk] {
        display: none;
    }

    
}
.tree[b-v9570j63zk]{
    height: fit-content;
    width: 100%;
    margin:0;
    padding: 0 0 0 20px;
}
.tree>ul[b-v9570j63zk],li>ul[b-v9570j63zk],div[class="collapse show"]>.tree[b-v9570j63zk],div[class="collapsing"]>.tree[b-v9570j63zk]{
    margin-top:15px;
}
.tree>li>div[b-v9570j63zk]{
    height: 28px;
    min-width: 340px;
    border-radius: 8px;
    border: 1px solid var(--hydra-secondary-10);
    background: var(--hydra-background-white);
    padding: 5px 10px;
}
.tree[b-v9570j63zk]  a{
    color:white;
    text-decoration: none;
    cursor: default;
    display:block;
}
.active-link[b-v9570j63zk]{
    background: var(--hydra-secondary-10) !important;
    border:1px solid var(--hydra-secondary-30) !important;
}
.hidden-children[b-v9570j63zk]{
    visibility: collapse;
}
.item-container[b-v9570j63zk]{
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    gap:5px;
}
.hidden[b-v9570j63zk]{
    display: none;
}
.collapse-expand-el[b-v9570j63zk]{
    height: 18px;
    width: 18px;
    border: 1px solid var(--hydra-secondary-65);
    position: relative;
    border-radius: 4px;
}
.first-stick[b-v9570j63zk]{
    width: 0;
    height: 9px;
    border-left: 1px solid var(--hydra-secondary-65);
    left: calc(50% - 0.5px);
    right: 50%;
    top: 25%;
    bottom: 25%;
    position: absolute;
    border-radius: 4px;
}
.second-stick[b-v9570j63zk]{
    width: 9px;
    height: 0;
    border-top: 1px solid var(--hydra-secondary-65);
    left: calc(25% - 0.5px);
    right: 50%;
    top: 50%;
    bottom: 25%;
    position: absolute;
    border-radius: 4px;
}
.collapse-expand-el[aria-expanded="true"]>.first-stick[b-v9570j63zk]{
    visibility: visible;
}
.collapse-expand-el[aria-expanded="false"]>.first-stick[b-v9570j63zk]{
    visibility: hidden;
}
