:root{
    --hydra-secondary-3:#FAFBFF;
    --hydra-secondary-10:#ECEDF4;
    --hydra-secondary-20:#D5D9E6;
    --hydra-secondary-30:#CCD0E1;
    --hydra-secondary-65:#8B95BB;
    --hydra-background-white:#FFFFFF;
    --hydra-text:#2D334D;
    --hydra-error:#E5645C;
    --hydra-blue-default:#5C73E5;
    --hydra-blue-hover:#304DDE;
    --hydra-blue-pressed:#172C91;
}