ul{
    margin: 0;
    padding: 0;
}
.elem-container>h4{
    margin: 0;
    color: var(--hydra-gray-500);
}
.elem-container{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    max-width: 100%;
}
.elem-reverse{
    flex-direction: row-reverse !important;
}
.read-only{
    pointer-events: none;
}
fieldset{
    background: white;
    padding: 20px;
    border-radius: 8px;
    border:1px solid var(--hydra-gray-30);
}
fieldset>legend{
    font-weight: 600;
    font-size: 16px;
    color: #2D334D;
    display: flex;
    align-items: center;
    gap:10px;
    text-wrap: nowrap;
}
fieldset>legend>img{
    content:url("icons/add_item.svg");
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
fieldset>legend>img:hover{
    background: var(--hydra-gray-40);
}
fieldset>legend>img:active{
    background: var(--hydra-gray-100);
}
input[type=checkbox]{
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    margin: 0;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #B7BDD0;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=checkbox]::after{
    content: "";

    display: inline-block;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 12px;
    height: 12px;
    background-color: #B7BDD0;
    border-radius: 50%;

    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
input[type=checkbox]:checked::after {
    transform: translateX(100%);
    background-color: #fff;
}
input[type=checkbox]:checked {
    background-color: #3961FF;
    border:1px solid #3961FF;
}
input[type=checkbox][disabled]{
    background: #EEF1F9;
    border:1px solid #EEF1F9;
}
input[type="text"],input[type="number"],input[type="datetime-local"],input[type="date"],input[type="time"],textarea{
    background: var(--hydra-background-white);
    min-width: 240px;
    height: 32px;
    border: 1px solid var(--hydra-secondary-10);
    padding: 5px 10px;
    border-radius: 8px;
}
input[type="text"]:hover,input[type="number"]:hover,input[type="datetime-local"]:hover,input[type="date"]:hover,input[type="time"]:hover,textarea:hover{
    border:1px solid var(--hydra-secondary-65);
}
input[type="text"]:focus,input[type="number"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="time"]:focus,textarea:focus{
    border: 1px solid var(--hydra-blue-pressed)
}
input[type="text"]:disabled,input[type="number"]:disabled,input[type="datetime-local"]:disabled,input[type="date"]:disabled,input[type="time"]:disabled,textarea:disabled{
    border: 1px solid var(--hydra-secondary-10);
    background: var(--hydra-secondary-3);
}
input[type="text"][validation-error],input[type="number"][validation-error],input[type="datetime-local"][validation-error],input[type="date"][validation-error],input[type="time"][validation-error],textarea[validation-error]{
    border:1px solid var(--hydra-error);
}
textarea{
    background: var(--hydra-background-white);
    min-width: 500px;
    min-height: 50px;
    padding: 5px 10px;
    border-radius: 8px;
    outline: none;
}
.validation-message{
    color:var(--hydra-error);
    font-size: 12px;
    display: block;
    position: absolute;
}
.hide-message{
    display: none;
}
.list-item-container{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}
.list-item-container>img,.delete-image{
    content: url("icons/remove_item.svg");
    cursor: pointer;
}
.delete-image{
    width: 24px;
    height: 24px;
}
.range-titles-container{
    display: flex;
    flex-direction: row;
    gap: 210px;
    padding: 0 0 0 10px;
    margin-bottom: -10px;
}
input,textarea:invalid{
    border:1px solid var(--hydra-error);
}
.delete-elem{
    content: url("icons/remove_item.svg");
    cursor: pointer;
    height: 24px;
    width: 24px;
}
@media(max-width: 1200px){
    .elem-container{
        flex-direction: column;
        align-items: flex-start;
    }
}
li>div>img[data-bs-toggle="collapse"]{
    content: url("icons/arrow_up.svg");
    cursor: pointer;
    margin-top: -2px;
}
li>div>img[aria-expanded="false"]{
    transform: rotate(90deg);
}
li>div>img[aria-expanded="true"]{
    transform: rotate(180deg);
}
.nested-element{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}
.elements-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 20px;
}
fieldset>.elements-container:not(:last-child){
    border-bottom: 1px solid var(--hydra-gray-100);
}
fieldset>.elements-container:last-child{
    padding-bottom: 10px;
}
.dict-param{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    min-width: 950px;
}
.param-background{
    background: var(--hydra-gray-30);
    border-radius: 8px;
    padding: 20px;
}
.dict-param>li>div{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: flex-start;
}
.dict-param-data{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 2px 0;
    width: 100%;
}
.dot:after{
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: 7px;
    background: var(--hydra-error-500);
}
.array-container{
    background: white;
    width: fit-content;
}
.param-name{
    width: fit-content;
    position: relative;
}
.default-fields{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    width: fit-content;
}