::deep .modal-header,::deep .modal-body,::deep .modal-footer{
    width: 75vw;
}
::deep .modal-body{
    height: 75vh;
    padding: 0;
}
.prev-next-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.next-button{
    margin-left: auto;
}
.wizard-elements>h3{
    margin-bottom: 5px;
}
.open-wizard-button{
    height: 38px;
    background: var(--hydra-blue-default);
    color:var(--hydra-background-white);
    padding:5px;
}
.title-info{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.modal-header>img{
    content: url("icons/X.svg");
    height: 24px;
    width: 24px;
    cursor:pointer;
}
.right-arrow{
    content:url("icons/arrow_right.svg");
}
.path{
    color:var(--hydra-secondary-65);
    text-decoration: underline;
    font-size:14px;
}
.path[last-child]{
    color:var(--hydra-text);
    text-decoration: none;
    font-weight: 600;
}
.path-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
}
.form-elements-container{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.elements-container{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.groups{
    gap:30px;
    display: flex;
    flex-direction: column;
}
.groups>div{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.modal-footer button[type=submit]{
    background:var(--hydra-blue-default);
    width: 108px;
    font-size: 16px;
    height: 38px;
    font-weight: 500;
    color:var(--hydra-background-white);
    border: 0;
    border-radius: 4px;
}
.modal-footer button[type=submit]:hover{
    background:var(--hydra-blue-hover);
}
.modal-footer button[type=submit]:active{
    background: var(--hydra-blue-pressed);
}
.modal-footer .wizard-button{
    background:var(--hydra-secondary-10);
    width: 108px;
    font-size: 16px;
    height: 38px;
    font-weight: 500;
    color:var(--hydra-text);
    border: 0;
    border-radius: 4px;
}
.modal-footer .wizard-button:hover{
    background: var(--hydra-secondary-20);
}
.modal-footer .wizard-button:active{
    background: var(--hydra-secondary-30);
}
.next-button:disabled {
    background: var(--hydra-secondary-30) !important;
}
.wizard-content{
    height: 100%;
}
.wizard-child-forms{
    padding: 10px;
    top:0;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.wizard-elements{
    padding: 10px 30px;
    width: 100%;
    overflow-y: auto;
}
.child-form-container{
    background: var(--hydra-background-white);
    border: 1px solid var(--hydra-secondary-65);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    text-wrap: nowrap;
}
.selected-form{
    background: var(--hydra-secondary-65);
}