:root{
    --hydra-secondary-3:#FAFBFF;
    --hydra-secondary-10:#ECEDF4;
    --hydra-secondary-20:#D5D9E6;
    --hydra-secondary-30:#CCD0E1;
    --hydra-secondary-65:#8B95BB;
    --hydra-background-white:#FFFFFF;
    --hydra-text:#2D334D;
    --hydra-error:#E5645C;
    --hydra-blue-default:#5C73E5;
    --hydra-blue-hover:#304DDE;
    --hydra-blue-pressed:#172C91;
    
    --hydra-gray-30: #EEF0F9;
    --hydra-gray-800: #292C5C;
    --hydra-blue-500-primary: #4A67F4;
    --hydra-blue-700: #3349B6;
    --hydra-blue-800: #1F2D77;
    --hydra-blue-50: #F0F2FF;
    --hydra-gray-200: #A6ACCD;
    --hydra-gray-50: #DBDEEE;
    --hydra-success-600: #2D8852;
}