@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"/>