.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    
}
.tree{
    height: fit-content;
    width: 100%;
    margin:0;
    padding: 0 0 0 20px;
}
.tree>ul,li>ul,div[class="collapse show"]>.tree,div[class="collapsing"]>.tree{
    margin-top:15px;
}
.tree>li>div{
    height: 28px;
    min-width: 340px;
    border-radius: 8px;
    border: 1px solid var(--hydra-secondary-10);
    background: var(--hydra-background-white);
    padding: 5px 10px;
}
.tree ::deep a{
    color:white;
    text-decoration: none;
    cursor: default;
    display:block;
}
.active-link{
    background: var(--hydra-secondary-10) !important;
    border:1px solid var(--hydra-secondary-30) !important;
}
.hidden-children{
    visibility: collapse;
}
.item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    gap:5px;
}
.hidden{
    display: none;
}
.collapse-expand-el{
    height: 18px;
    width: 18px;
    border: 1px solid var(--hydra-secondary-65);
    position: relative;
    border-radius: 4px;
}
.first-stick{
    width: 0;
    height: 9px;
    border-left: 1px solid var(--hydra-secondary-65);
    left: calc(50% - 0.5px);
    right: 50%;
    top: 25%;
    bottom: 25%;
    position: absolute;
    border-radius: 4px;
}
.second-stick{
    width: 9px;
    height: 0;
    border-top: 1px solid var(--hydra-secondary-65);
    left: calc(25% - 0.5px);
    right: 50%;
    top: 50%;
    bottom: 25%;
    position: absolute;
    border-radius: 4px;
}
.collapse-expand-el[aria-expanded="true"]>.first-stick{
    visibility: visible;
}
.collapse-expand-el[aria-expanded="false"]>.first-stick{
    visibility: hidden;
}
