.tree{
    margin:0 !important;
    padding:0 !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item-container{
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap:5px;
    cursor: pointer;
}
.item-container:hover{
    background: var(--hydra-gray-30);
}
.active-link{
    background: var(--hydra-gray-30);
}
.item-container>h4{
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.font-weight-400{
    font-weight: 400 !important;
}
.hidden{
    display: none;
}
.passed-step{
    color: var(--hydra-success-600) !important;
}
.item-container>img{
    width: 18px;
    height: 18px;
    visibility: hidden;
}
.success{
    content: url("icons/success_icon.svg");
    visibility: visible !important; 
}
.deployed{
    padding: 2px 5px 3px 5px;
    color:white;
    border-radius: 4px;
    font-size: 10px;
    background: var(--hydra-success-600);
    margin-left: 5px;
}
.deploying{
    padding: 2px 5px 3px 5px;
    color:white;
    border-radius: 4px;
    font-size: 10px;
    background: var(--hydra-gray-500);
    margin-left: 5px;
}
.failed{
    padding: 2px 5px 3px 5px;
    color:white;
    border-radius: 4px;
    font-size: 10px;
    background: var(--hydra-error-500);
    margin-left: 5px;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.tree.config-gap{
    gap:5px;
}