.wizard-page-container{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    min-width: 950px;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background: var(--hydra-gray-20);
}
.welcome-container{
    width: 950px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.welcome-title{
    font-weight: 600;
}
.welcome-button{
    padding: 7px 30px 7px 30px;
    height: 38px;
    width: 186px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.hydra-welcome-image{
    content: url("icons/hydra_welcome.svg");
    margin-top: 10px;
    width: 390px;
    height: 278px;
    margin-left: auto;
    margin-right: auto;
}
.wizard-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.title-info{
    display: flex;
    flex-direction: column;
    gap:10px
}
.title{
    font-weight: 600;
}
.prev-next-container{
    margin-top: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    width: 950px;
    gap:5px;
}
.next-button {
    width: 111px;
    height: 38px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 7px 20px 7px 25px;
    align-items: center;
    font-weight: 600;
}

.next-button>img{
    content: url("icons/Arrow2_Right.svg");
}
.prev-button{
    width: 111px;
    height: 38px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap:5px;
    padding: 7px 20px 7px 25px;
    align-items: center;
    font-weight: 600;
}
.prev-button>img{
    content: url("icons/Arrow2_Left.svg");
}
.child-group-container{
    min-height: 98px;
    background: white;
    width: 435px;
    padding: 20px 30px 20px 30px;
    border:1px solid var(--hydra-gray-50);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.child-group-container:hover{
    background: var(--hydra-blue-50);
}
.selected-form{
    border:1px solid var(--hydra-blue-500-primary);
    background: var(--hydra-blue-50);
}
.selected-icon{
    content: url("icons/Check.svg");
    position: absolute;
    right: -10px;
    top: -10px;
}
.wizard-child-groups{
    display: flex;
    flex-direction: row;
    gap:10px;
    flex-wrap: wrap;
}
.wizard-content{
    overflow-y: auto;
    padding: 10px 0;
    margin-top: -10px;
    height: 100%;
}
.wizard-elements{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 950px;
}
.child-group-container>div{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}
.custom-dropdown-menu{
    border: 0;
    background: transparent;
    border-radius: 4px;
    max-height: 700px;
    overflow: auto;
    padding: 0 10px;
}
.title-info>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}
.title-info>div>h3{
    font-size: 20px;
}
.dropdown>div:first-child{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
}
.dropdown-toggle:after{
    border:0;
}
div>.link{
    color: var(--hydra-gray-500)
}
div:hover>.link{
    color: var(--hydra-blue-500-primary);
    border-bottom: 1px solid var(--hydra-blue-150);
}
div:active>.link{
    color:var(--hydra-blue-800);
    border-bottom: 1px solid var(--hydra-blue-300);
}
::deep .modal-header>h3{
    color:var(--hydra-gray-800);
    font-weight: 600;
}
::deep .modal-footer{
    display: none !important;
}
::deep .modal-header>img{
    content: url("icons/X.svg");
    cursor: pointer;
    border-radius: 4px;
}
::deep .modal-header>img:hover{
    background: var(--hydra-gray-40);
}
::deep .modal-header>img:active{
    background: var(--hydra-gray-100);
}
::deep .modal-body{
    height: 75vh;
    max-width: 75vw;
    min-width: 50vw;
    padding:10px 30px 30px 30px !important;
}
::deep .modal-header{
    border-bottom: 0 !important;
}
::deep .modal-body::-webkit-scrollbar-track{
    margin-bottom: 30px;
    margin-top: 10px;
}