::deep .modal-header,::deep .modal-body,::deep .modal-footer{
    min-width: 560px;
    max-width: 75vw;
}
::deep .modal-body{
    max-height: 50vh;
}
.prev-next-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.next-button{
    margin-left: auto;
}
.open-wizard-button{
    height: 38px;
    background: var(--hydra-blue-default);
    color:var(--hydra-background-white);
    padding:5px;
}
.modal-header>img{
    content: url("icons/X.svg");
    height: 24px;
    width: 24px;
    cursor:pointer;
}